.root {
  height: 100vh;
  background: rgb(255, 0, 70);
  background: -moz-linear-gradient(
    225deg,
    rgba(255, 0, 70, 1) 0%,
    rgba(205, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    rgba(255, 0, 70, 1) 0%,
    rgba(205, 0, 255, 1) 100%
  );
  background: linear-gradient(
    225deg,
    rgba(255, 0, 70, 1) 0%,
    rgba(205, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0046",endColorstr="#cd00ff",GradientType=1);
  padding-top: 50px;
}

.title{
    text-align: center;
}

.container-1 {
  display: grid;
  grid-template-rows: 100px 300px 1fr;
  height: 100%;
}
